[Unit]
Description=Prefect serves murkelhausen-data flow

[Service]
User=arkadius
WorkingDirectory=/home/arkadius/murkelhausen-data
ExecStart=/home/arkadius/murkelhausen-data/.venv/bin/python src/murkelhausen/prefect/serve.py
Restart=always

[Install]
WantedBy=multi-user.target