[Unit]
Description=Prefect serves murkelhausen-data flow

[Service]
User=arkadius
#WorkingDirectory=/tmp
ExecStart=/home/arkadius/murkelhausen-data/.venv/bin/python /home/arkadius/murkelhausen-data/flow.py
Restart=always

[Install]
WantedBy=multi-user.target